<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-info">

        <div class="panel-heading">Prochaine Intervention</div>

        <div class="panel-body">

          <div class="row">

            <div class="col-md-10">
              <div *ngIf="isvide==false">
                Date de la Prochaine intervention :
                <br/> {{nextIntervention?.dateRealisation}}
                <br/> Lieu :
                <br/> Batiment {{nextIntervention?.materiel.salle.etage.batiment.nom}} du site {{nextIntervention?.materiel.salle.etage.batiment.site.nom}}
                <br/> Materiel :
                <br/> {{nextIntervention.materiel?.article.nom}}
                <br/> Client :
                <br/> {{nextIntervention?.materiel.client.entreprise}} / Contact : {{nextIntervention?.materiel.client.telephone}}
              </div>

              <div *ngIf="isvide">
                <br/>
                <br/>
                <br/>
                <br/>
                <h2>Pas d'intervention prévu</h2>

              </div>
            </div>

            <div class="col-md-2">
              <br/>
              <br/>
              <br/>
              <button type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </button>
              <br/>
              <br/>
              <br/>
            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="col-md-6">

      <div class="panel panel-info">

        <div class="panel-heading">Calendrier</div>

        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>