<div class="panel panel-primary">
<div class="panel-heading">
      <p>MES MATERIAUX</p>
</div>
<!--
<div class="row">
      <pagination [totalItems]="totalItems"
              [ngModel]="currentPage"
              [itemsPerPage]="taillePage"
              (pageChanged)="pageChanged($event)"></pagination>
</div>
-->
<div class="panel-body">
  <!--<pagination class="label" [totalItems]="totalItems" [ngModel]="currentPage" [itemsPerPage]="taillePage" (pageChanged)="pageChanged($event)"></pagination>-->
  <table class="table table-striped" border="1">
    <thead>
      <tr>
        <th>NOM DU PRODUIT</th>
        <th>N° DE SERIE</th>
        <th>EMPLACEMENT</th>
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let mat of materiels | async">
      <td>{{mat.articleId.nom}}</td>
      <td>{{mat.serialNumber}}</td>
      <td>salle {{mat.salleId.nom}}<br/> etage {{mat.salleId.etageId.numero}}<br/> batiment {{mat.salleId.etageId.batimentId.nom}}<br/> site {{mat.salleId.etageId.batimentId.siteId.nom}}</td>
    </tr>
  </tbody>
  </table>
</div>
</div>