<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #FF5733;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Loncoto</a>

    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink='./home'>HOME</a>
        </li>
        <li>
          <a routerLink="listeInterventions">MES INTERVENTIONS</a>
        </li>
        <li>
          <a routerLink="sites">MES LOCAUX</a>
        </li>
        <li>
          <a routerLink="listeMateriel">MES MATERIAUX</a>
        </li>
      </ul>
      <span class="navbar-text">
        <b>{{cli.entreprise}}</b>
      </span>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>

</div>