<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #FF5733;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Loncoto</a>
  
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a routerLink='./home'>HOME</a>
          </li>
          <li>
            <a routerLink="clientmain">CLIENT</a>
          </li>
          <li>
            <a routerLink="intervenantmain">INTERVENANT</a>
          </li>
          <li>
            <a routerLink="operateurmain">OPERATEUR</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>






<div class="container">

  <!--
  <div *ngIf="isClientVisible">
    <app-user-client [clientId]="currentClientId"></app-user-client>
  </div>
  <div *ngIf="isIntervenantVisible">
    <app-user-intervenant [intervenantId]="currentIntervenantId"></app-user-intervenant>
  </div>
  <div *ngIf="isOperateurVisible">
    <app-user-operateur></app-user-operateur>
  </div>
  <div *ngIf="isLoginVisible">
    <app-login (usertype)="getSubmitLogin($event)"></app-login>
  </div>
  <div class="">
  </div> -->


      <router-outlet></router-outlet>
  

</div>